<app-loginheader></app-loginheader>

<h2 class="mt-3 mb-3">Insert the Job Application</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="position">Postion:</label>
    <input type="text" class="form-control" placeholder="Enter position" id="position" formControlName="position" [ngClass]="{ 'is-invalid': submitted && f.position.errors }">
  <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
      <div *ngIf="f.position.errors.required">Position is required</div>
  </div>
  </div>
  <div class="form-group">
    <label for="jobscope">Job Scope:</label>
    <input type="text" class="form-control" placeholder="Enter jobscope" id="jobscope" formControlName="jobscope" [ngClass]="{ 'is-invalid': submitted && f.jobscope.errors }">
  <div *ngIf="submitted && f.jobscope.errors" class="invalid-feedback">
      <div *ngIf="f.jobscope.errors.required">Jobscope is required</div>
  </div>
  </div>
  <div class="form-group">
    <label for="jobtype">Job Type:</label>
    <input type="text" class="form-control" placeholder="Enter jobtype" id="jobtype" formControlName="jobtype" [ngClass]="{ 'is-invalid': submitted && f.jobtype.errors }">
  <div *ngIf="submitted && f.jobtype.errors" class="invalid-feedback">
      <div *ngIf="f.jobtype.errors.required">Jobtype is required</div>
  </div>
  </div>
  <div class="form-group">
    <label for="cgpa"> CGPA:</label>
    <input type="text" class="form-control" placeholder="Enter cgpa" id="cgpa" formControlName="cgpa" [ngClass]="{ 'is-invalid': submitted && f.cgpa.errors }">
  <div *ngIf="submitted && f.cgpa.errors" class="invalid-feedback">
      <div *ngIf="f.cgpa.errors.required">Minimum CGPA is required</div>
  </div>
  </div>
  <div class="form-group">
    <label for="experience">Experience:</label>
    <input type="text" class="form-control" placeholder="Enter experience" id="experience" formControlName="experience" [ngClass]="{ 'is-invalid': submitted && f.experience.errors }">
  <div *ngIf="submitted && f.experience.errors" class="invalid-feedback">
      <div *ngIf="f.experience.errors.required">Experience is required</div>
  </div>
  </div>
  <div class="form-group">
    <label for="salary">Salary (RM):</label>
    <input type="text" class="form-control" placeholder="Enter salary" id="salary" formControlName="salary" [ngClass]="{ 'is-invalid': submitted && f.salary.errors }">
  <div *ngIf="submitted && f.salary.errors" class="invalid-feedback">
      <div *ngIf="f.salary.errors.required">Salary is required</div>
  </div>
  </div>
  <div class="form-group">
    <label for="location">Location:</label>
    <input type="text" class="form-control" placeholder="Enter location" id="location" formControlName="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
  <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
      <div *ngIf="f.location.errors.required">Location is required</div>
  </div>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" placeholder="Enter description" id="description" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
  <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
    <div *ngIf="f.description.errors.required">Description is required</div>
      <div *ngIf="f.description.errors.description">Description is required</div>
   </div>
  </div>
  
  <button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>