<app-userheader></app-userheader>

<table>
    <tr>
      <th>Position</th>
      <th>Job Scope</th>
      <th>Job Type</th>
      <th>Minimum CGPA</th>
      <th>Minimum Experience</th>
      <th>Salary Range (RM)</th>
      <th>Location</th>
      <th>description</th>
    
    </tr>
    <tr>
      <td>Network Engineer</td>
      <td>Mantain server</td>
      <td>Permanent</td>
      <td>3.10</td>
      <td>2 Year</td>
      <td>> 1700</td>
      <td>Cyberjaya</td>
      <td>Setting up and Developing computer network</td>
        <td><a href="home" class="w3-button w3-green">Apply Here</a></td>
    </tr>
    <tr>
      <td>Network Analyst</td>
      <td>Monitor Data</td>
      <td>Part Time</td>
      <td>3.10</td>
      <td>2 Year</td>
      <td>> 1800</td>
      <td>Putrajaya</td>
      <td>Installation, layout, and maintenance of all network components within the company</td>
        <td><a href="home" class="w3-button w3-green">Apply Here</a></td>
    </tr>
    <tr>
      <td>System Administrator</td>
      <td>Develop processor product</td>
      <td>Permanent</td>
      <td>3.25</td>
      <td>1 Year</td>
      <td>> 1800</td>
      <td>Johor Bahru</td>
      <td>Install, upgrade and monitor software and hardware.</td>
      <td><a href="home" class="w3-button w3-green">Apply Here</a></td>
   
    </tr>
    <tr>
      <td>Window Server Administrator</td>
      <td>Develop processor product</td>
      <td>Permanent</td>
      <td>3.35</td>
      <td>1 Year</td>
      <td>> 1800</td>
      <td>Subang Jaya</td>
      <td>Installing, managing, and upgrading Windows-based systems and servers within the company</td>
      <td><a href="home" class="w3-button w3-green">Apply Here</a></td>
    </tr>
    <tr>
      <td>AWS Solution Developer</td>
      <td>Develop processor product</td>
      <td>Permanent</td>
      <td>3.80</td>
      <td>3 Year</td>
      <td>> 3200</td>
      <td>Kuala Lumpur</td>
      <td>Setting up, maintaining, and evolving the cloud infrastructure of web applications</td>
      <td><a href="home" class="w3-button w3-green">Apply Here</a></td>
  
    </tr>
    <tr>
      <td>IT Auditor Manager</td>
      <td>Develop processor product</td>
      <td>Permanent</td>
      <td>3.50</td>
      <td>2 Year</td>
      <td>> 2200</td>
      <td>Kuala Lumpur</td>
      <td>Monitoring IT systems to ensure they follow policies and practices.Also evaluating technology, manage staff, identify controls, and keep records</td>
      <td><a href="submit" class="w3-button w3-green">Apply Here</a></td>
  
    </tr>
  </table>
  
  </body>
  </html>
  
