<app-loginheader></app-loginheader>

<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<h1>Job list for Specialization</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Position</th>
        <th>Job Scope</th>
        <th>Job Type</th>
        <th>CGPA</th>
        <th>Experience</th>
        <th>Salary(RM)</th>
        <th>Location</th>
        <th>Description</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mydata of data[0]; let i = index">
        <td>{{mydata.id}}</td>
        <td>{{mydata.position}}</td>
        <td>{{mydata.jobscope}}</td>
        <td>{{mydata.jobtype}}</td>
        <td>{{mydata.cgpa}}</td>
        <td>{{mydata.experience}}</td>
        <td>{{mydata.salary}}</td>
        <td>{{mydata.location}}</td>
        <td>{{mydata.description}}</td>
    <td><button class="btn btn-primary" (click)="editModal(i, mydata.id)">Edit</button></td>
    <td><button class="btn btn-primary" (click)="deleteuser(mydata.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <div class="modal" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title align-center">Edit : {{currentUser?.position}}</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="closeEditModal()">&times;</button>
        </div>
        
        <div class="modal-body">
        
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="row">
               <div class="col-sm-6">
              
               
                  <div class="form-group">
                        <label>Position</label>
                        <input type="text"  formControlName="position" class="form-control" />
                     </div>
               </div>
               <div class="col-sm-6">
                <div class="form-group">
                   <label>Job Scope</label>
                   <input type="text"  formControlName="jobscope" class="form-control"  />
                </div>
             </div> 
             <div class="col-sm-6">
                <div class="form-group">
                   <label>Job Type</label>
                   <input type="text"  formControlName="jobtype" class="form-control"  />
                </div>
             </div> 
             <div class="col-sm-6">
                <div class="form-group">
                   <label> CGPA</label>
                   <input type="text"  formControlName="cgpa" class="form-control"  />
                </div>
             </div> 
             <div class="col-sm-6">
                <div class="form-group">
                   <label> Experience</label>
                   <input type="text"  formControlName="experience" class="form-control"  />
                </div>
             </div> 
             <div class="col-sm-6">
                <div class="form-group">
                   <label>Salary(RM)</label>
                   <input type="text"  formControlName="salary" class="form-control"  />
                </div>
             </div> 
               <div class="col-sm-6">
                  <div class="form-group">
                     <label>Location</label>
                     <input type="text"  formControlName="location" class="form-control"  />
                  </div>
               </div>
               <div class="col-sm-6">
                <div class="form-group">
                   <label>Description</label>
                   <input type="text"  formControlName="description" class="form-control"  />
                </div>
             </div>
               
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
